* {
    background-color: blanchedalmond;
    text-align: center;
    font-family: Verdana, sans-serif;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

h1 {
    color: rgb(110, 37, 37);
}