* {
    background-color: blanchedalmond;
    text-align: center;
    font-family: Verdana, sans-serif;
}

h1 {
    color: rgb(110, 37, 37);
}

ol,
ul {
    list-style-position: inside;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-image {
    height: 300px;
    width: auto;
}

#odin-logo {
    height: 300px;
    width: 300px;
}
